# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Database
# *.db  # 暂时允许上传主数据库
*.sqlite
*.sqlite3
backups/*.db

# Backups
backups/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Uploads
quote_images/
