[Unit]
Description=yunciyyu Personal Website
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/yunciyyu
Environment="PATH=/var/www/yunciyyu/venv/bin"
ExecStart=/var/www/yunciyyu/venv/bin/gunicorn -c deploy/gunicorn.conf.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target